body {
    background-color: #000000;
    color: #ffffff;
}

h1 {
    font-family: Arial;
    font-weight: 700;
    text-align: center;
}

#btn-front {
    margin-top: 20px 10px 20px 10px;
    padding: 14px 14px 14px 14px;
    background-color: #314176;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial;
    border: 3px outset;
    transition-duration: 0.4s;
}

#btn-front:hover {
    margin-top: 20px 10px 20px 10px;
    padding: 14px 14px 14px 14px;
    background-color: #ffffff;
    color: #314176;
    font-weight: bold;
    font-family: Arial;
    border: 3px outset #314176;
    transition-duration: 0.4s;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#discoblock {
    position: fixed;
    width: 400px;
    height: 400px;
    border: 2px solid #0094ff;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}

#discobtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 20px 20px 20px;
    margin-top: 7px;
    border: 2px double #fffa00;
    border-radius: 12px;
}

#discobtn:hover {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 20px 20px 20px;
    margin-top: 7px;
    border: 3px double #6d018d;
    border-radius: 12px;
    background-color: #fffa00;
    color: #314176;
    font-weight: 500;
}