body {
    background-color: #000000;
    color: #ffffff;
}

#btn-front {
    padding: 7px 7px 7px 7px;
    background-color: #314176;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}