body {
    background-color: #000000;
    color: #ffffff;
}

#btn-front {
    margin-top: 20px;
    padding: 14px 14px 14px 14px;
    background-color: #314176;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial;
    border: 3px outset;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}