body {
    font-family: 'Trebuchet MS';
    color: #9f5bac;
    overscroll-behavior-y: none;
}

section {
    margin: 10% 20%;
}

h2 {
    font-family: Arial;
    padding: 2rem 0rem;
    font-weight: bold;
}

p {
    line-height: 175%;
    color: #023349;
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 8px;
    background: linear-gradient(to right, #ffd800, #9f5bac);
    width: 0%;
    z-index: 100;
    transition: width 0.2s ease-out;
}
