* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a, button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
}

.studies,
.csstutorials,
.projects,
.cssprojects {
    position: relative;
}

.studies ul,
.csstutorials ul,
.projects ul,
.cssprojects ul {
    position: absolute;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background: rgb(36, 2, 26);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.4s ease;
}

.studies li,
.csstutorials li,
.projects li,
.cssprojects li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.studies li:hover,
.csstutorials li:hover,
.projects li:hover,
.cssprojects li:hover {
    background-color: rgb(169, 125, 187);
}

.studies a,
.csstutorials a,
.projects a,
.cssprojects a {
    color: white;
    text-decoration: none;
}

.dropdown button,
.homeBtn a {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown button:hover,
.homeBtn a:hover {
    color: rgb(169, 125, 187);
}

.studies button:focus + ul,
.csstutorials button:focus + ul,
.projects button:focus + ul,
.cssprojects button:focus + ul{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.newsbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
    .latest {
        text-decoration: underline;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .newsitem {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
        .date {
            font-weight: bold;
        }
        .thumbnailDate {
            flex-direction: column;
        }
            .recentImg {
                height: 100px;
            }