body {
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    background-color: azure;
  }

header {
  height: 100px;
  width: 100%;
  background: #333;
  color: #FFF;
}

header a {
  color: #FFF;
}

#btn-front {
  margin: 7px;
  height: 85px;
  width: 150px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 2px;
  color: #FFF;
  background-color: #3d49f3;
  border: 2px solid #FFF;
}

#btn-front:hover {
  border: 5px outset;
}
  
  #app {
    max-width: 600px;
    margin: 0 auto;
  }

  #petlistnew ul{
    list-style-type: none;
  }

  .description {
    background-color: #3d49f3;
    color: #FFF;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: .8rem;
    position: relative;
    top: -3px;
  }

  .username {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 10px;
  }

  .usernamesample {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 10px;
  }

  .username-field {
    flex: 1;
    padding: 10px;
    font-size: 1.1rem;
    color: #333;
  }

  .username-fieldsample {
    flex: 1;
    padding: 10px;
    font-size: 1.1rem;
    color: #333;
  }

  .messages {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
  }

  .messagessample {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
  }

  .username-rules {
    color: red;
    transition: all .33s ease-out;
    opacity: 1;
    margin: 0;
    transform: scale(1);
  }

  .username-rulessample {
    color: red;
    transition: all .33s ease-out;
    opacity: 1;
    margin: 0;
    transform: scale(1);
  }

  .username-success {
    color: green;
    transition: all .33s ease-out;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    transform: scale(1);
  }

  .username-successsample {
    color: green;
    transition: all .33s ease-out;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    transform: scale(1);
  }
  
  .hidden {
    opacity: 0;
    transform: scale(1.09);
  }

  #numberStory {
    font-size: 12px;
    border: 1px #000 solid;
  }